.container{
  background-color: rgb(223, 246, 255);
  padding: 10px 10px;
}

@media (max-width : 720px){
    width : 700px ;
}
@media (max-width : 540px){
    width : 500px ;
}
@media (max-width : 540px){
    width : 300px ;
}


